<!DOCTYPE html>
<html lang="de">
<head>

    <% include templates/includeCSS.ejs %>

    <!-- Meta -->
    <meta charset="UTF-8">

    <title>Kopftausch ARG</title>
</head>

<body>
<nav class="nav-extended">
    <div class="nav-wrapper">
        <div id="kopftausch"><a> Kopftausch </a></div>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="onsite">Login</a></li>
        </ul>
    </div>
</nav>

<main>
    <div class="row">
        <!-- Anmeldebox -->
<form action="/login" method="post">
    <div class="card blue-grey darken-1" id="info">
        <div class="card-content white-text"><span class="card-title">Anmeldung</span>



            <div class="input-field">
                <input type="text" id="userid" class="validate white-text" name="userid">
                <label class="active white-text" for="userid">ID</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" class="validate white-text" name="userpwd">
                <label class="active white-text" for="password">Passwort</label>
            </div>
        </div>
        <div class="card-action"><a>Anmelden</a></div>
    </div>

</form>


</div>
</main>
<% include templates/footer.ejs %>

<!-- Skripte -->
<script src="jquery-3.3.1.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script> -->

<% include templates/javascript.ejs %>

<script type="text/ecmascript">
    $('.card-action').click(function () {
        $('form').submit();
    });
    $(document).keypress(function (e) {
        if (e.which === 13) $('form').submit();
    });
</script>
</body>
</html>