<!DOCTYPE html>
<html lang="de">
<head>

    <% include templates/includeCSS.ejs %>

    <!-- Meta -->
    <meta charset="UTF-8">

    <title>Kopftausch ARG</title>
</head>
<body>
<nav class="nav-extended">
    <div class="nav-wrapper">
        <div id="kopftausch"><a>Kopftausch</a></div>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <% if(!firstlogin) { %>
            <li class="tab"><a href="settings">Bedingungen</a></li>
            <% } else {%>

            <% if(loggedIn) { %>
            <li class="tab"><a href="settings">Einstellungen</a></li>
            <li class="tab"><a href="matches">Matches</a></li>
            <% } else { %>
            <li class="tab"><a href="login">Login</a></li>
            <% } %>

            <% }%>
            <li class="tab onsite"><a>Nutzungsbedingungen</a></li>
        </ul>
    </div>
</nav>



<main>
    <div class="row">
        <div class="card darken-1" id="info">
            <div class="card-content black-text">
                <h4>Nutzungsbedingungen</h4><hr>
                <h5>Mindestalter zur Erteilung einer Einwilligung</h5>
                <p>Gem. Art. 8 Abs. 1 DSGVO ist die Verarbeitung personenbezogener Daten von Minderj&auml;hrigen nur dann rechtm&auml;&szlig;ig, wenn diese bereits das 16. Lebensjahr vollendet haben, oder wenn eine Zustimmung des gesetzlichen Vertreters erteilt wurde. Daher k&ouml;nnen wir Ihnen unsere Dienste erst dann bereitstellen, wenn eine Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO zur Verarbeitung von solchen personenbezogenen Daten, wie sie in der <a href="privacy_policy">Datenschutzerkl&auml;rung</a> dargelegt sind, erfolgt ist.</p>
                <h5>Sperrung und L&ouml;schung von Benutzerkonten</h5>
                <p>
                    Wir behalten uns ausdr&uuml;cklich das Recht vor, Benutzerkonten ohne Angabe von Gr&uuml;nden zu sperren, l&ouml;schen oder anderweitig zu ver&auml;ndern. Mit der L&ouml;schung werden s&auml;mtliche vom Benutzer hinterlegte Daten gel&ouml;scht und es endet die L&ouml;schungsfrist s&auml;mtlicher personenbezogener Daten, welche der Inhaber des Benutzerkontos dort hinterlegt hat.
                </p>
            </div>
        </div>
    </div>
</main>


    <% include templates/footer.ejs %>
    <!-- Skripte -->

<script src="jquery-3.3.1.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script> -->
<% include templates/javascript.ejs %>
</body>
</html>