<br>
<br>
<br>
<br>
<br>


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text">&Uuml;ber</h5>
                <p class="grey-text text-lighten-4">
                    Diese Website bietet dir die Möglichkeit, schnell und zuverlässig einen Partner für einen Kurswechsel zu finden.
                </p>
                <ul>
                    <li><a href="how" class="grey-text">So geht's</a></li>
                </ul>
            </div>

            <% if(loggedIn) { %>


            <div class="col l2 offset-l1 s12">
                <h5 class="white-text">Account</h5>
                <ul>

                    <li> <a href="account" class="grey-text">Account verwalten</a> </li>

                </ul>
            </div>
            <% }  %>



            <div class="col l2 offset-l1 s12">
                <h5 class="white-text">Rechtliches</h5>
                <ul>
                    <li> <a href="impressum" class="grey-text">Impressum</a> </li>
                    <li> <a href="terms_of_use" class="grey-text">Nutzungsbedingungen</a> </li>
                    <li> <a href="privacy_policy" class="grey-text">Datenschutz</a> </li>


                </ul>
            </div>
            <div class="col l2 offset-l1 s12">
                <h5 class="white-text">Kontakt</h5>
                <ul>
                    <li><a href="contact" class="grey-text">Kontaktinformationen</a></li>
                    <li><a href="" class="grey-text">Fehler gefunden?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2018 Paul Reisenberg, Paul Martin.
        </div>
    </div>
</footer>
